.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(228, 242, 239, 0.467);
    padding: 10px 0;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: transform 0.7s ease;
}
.listItem:hover {
    transform: scale(1.1);
}

.textStyle {
    padding-left: 38px;
}
.leftStyle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 15px;
}

.rightStyle {
    display: flex;
    padding-right: 10px;
    gap: 10px;
}

.todoIcon {
    display: flex;
    font-size: 30px;
    color: #1547;
}

.trash,
.ischeck {
    transition: color 0.5s ease;
}

.trash:hover {
    color: red;
}
.ischeck:hover {
    color: green;
}

.checked {
    color: grey;
    background-color: unset;
}
